@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Lobster&family=PT+Sans+Caption&family=Rampart+One&family=Recursive:wght@300&family=Roboto+Mono&family=Space+Mono&display=swap');
$mainFont: 'Roboto Mono', monospace;
$tabsh1Font: 'Lobster', cursive;
$logoFont: 'Rampart One', cursive;
$hours: 'PT Sans Caption', sans-serif;
$textFont: 'Space Mono', monospace;
