$logo_image: url("pasta.png");
$header_photo: url("header.jpg");
$pasta: url("freshpasta.jpg");
$pizza:url("piza.jpg");
$gnochi:url("gnochi.jpg");
$tiramisu:url("tiramisu.jpg");
$footer: url("footer.jpg");
